# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
env/
venv/

# Django
db.sqlite3

# VSCode/PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local Database (Requirement 10)
*.db

# OS specific
.DS_Store
Thumbs.db

# Firebase credentials
netshots-4b60f-firebase-adminsdk-fbsvc-9e3d8d5826.json